@font-face {
  font-family: "Comic Neue";
  src: url(fonts/ComicNeue-Bold.ttf);
}

body {
  background-color: #474747;
  text-align: center;
  margin: 5%;
  font-family: "Comic Neue";
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#cock {
  width: 20vw;
  transition: filter 0.5s;
}

#cock:hover {
  filter: drop-shadow(0 0 3em #ffea28);
  cursor: pointer;
}

#cock:active {
  scale: 99%;
}

#cocks {
  color: #e7e7e7;
  font-size: 10vw;
}
